
<%= form_for @employee do |f| %>  
 
<% if @employee.errors.any? %>
<h4>Couldn't create a Employee</h4>
<ul>
<% @employee.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
    <%= f.label :employee_name %>
    <%= f.text_field :name, :placeholder =>'Employee Name' %>

    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, { :include_blank => true, :start_year => 1900, :end_year => 2014 } %>
   
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(%w[Male Female]), { :include_blank => true} %>

    <%= f.label :address %>
    <%= f.text_area :address, :id => "address", :cols => 5, :rows => 3 %>

    <%= f.label :city %>
    <%= f.text_field :city, :placeholder =>'City' %>   

    <%= f.label :designation %>
    <%= f.text_field :designation, :placeholder =>'0.00' %>
   
    <%= f.label :branch %>
    <%= f.text_field :branch, :placeholder =>'Branch' %>

    <%= f.label :employee_start_date %>
    <%= f.date_select :employee_start_date, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>
  <div>    
  </div>
    <%= f.submit "Create Employee", class: "btn btn-primary" %>     
    <% end %>
  </div>
</div>



