
<h2> Employee Details </h2>

<div> 
  <%= link_to "Create A New Employee", employees_new_path, class: "btn btn-primary" %> <%= link_to "New Month Salary", salaries_new_path, class: "btn btn-primary" %></div>
</br>


<h6 class= "alert alert-info"><%= page_entries_info @employee %></h6>

<table cellpadding = "5" cellspacing ="5" >
  <tr>
    <th>Employee Code</th> 
    <th>Employee Name</th> 
    <th>Category</th>    
    <th>Designation</th> 
    <th>Branch</th>     
    <th>Joined Date</th> 
    <th>Salary Details</th>      
  </tr>
  <% @employee.each do |f| %>
    <tr class="<%= cycle('oddrow', 'evenrow') -%>"> 
      <td><%= link_to f.employee_code, employee_path(f) %></td> 
      <td><%= f.name %></td> 
      <td><%= f.employee_category %></td> 
      <td><%= f.designation %></td>
      <td><%= f.branch %></td>
      <td><%= f.employee_start_date.strftime("%d/%m/%Y") %></td>
      <td><%=  link_to(salaries_path(@salary), class: "btn btn-small btn-primary") do %>
           Salary details <% end %> </td>

      <% end %></td>         
    </tr>  
</table>
<br/>

<%= will_paginate @employee %>
