
<%= form_for @salary do |f| %>

<%= f.hidden_field :employee_id, :id => "real_employee_id" %>
 <span class="help-block">Enter the Employee name</span> 
<%= autocomplete_field_tag 'throwaway_employee', '',
          autocomplete_employee_name_salaries_path,
          :size => 75, :id_element => '#real_employee_id' %>
  

<% if @salary.errors.any? %>
<h4>Couldn't provide salary</h4>
<ul>
<% @salary.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>
    <%= f.label :Basic %>
    <%= f.text_field :basic, :placeholder =>'Basic' %>

    <%= f.label :DA %>
    <%= f.text_field :da, :placeholder =>'DA' %>

    <%= f.label :HRA %>
    <%= f.text_field :hra, :placeholder =>'HRA' %>

    <%= f.label :CA %>
    <%= f.text_field :ca, :placeholder =>'CA' %>
    
    <%= f.label :SA %>
    <%= f.text_field :sa, :placeholder =>'SA' %>

    <%= f.label :effective_from %>
    <%= f.date_select :effective_from, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>
      
 <div>
  </div>
    <%= f.submit "Confirm Salary", class: "btn btn-primary" %>     
    <% end %>
  </div>
</div>



