
<h2> Employee Salary Details </h2>

<div> 
  <%= link_to "New Month Salary", salaries_new_path, class: "btn btn-primary" %> </div>
</br>

<h6 class= "alert alert-info"><%= page_entries_info @salary %></h6>

<table cellpadding = "5" cellspacing ="5" >
  <tr>    
    <th>Employee Code</th>
    <th>Employee Name</th>    
    <th>Designation</th> 
    <th>Gross Pay</th>                
  </tr>
  <% @salary.each do |f| %>
    <tr> 
      <td><%= link_to "#{f.employee.employee_code}", salary_path(f)  %></td>
      <td><%= link_to "#{f.employee.name}", salary_path(f)  %></td>  
      <td><%= f.employee.designation %></td>
      <td><%= currency_symbol %><%= f.employeesalary_paisas %></td>     
      <% end %></td>         
    </tr>  
</table>
<br/>

<%= will_paginate @salary %>
