<!DOCTYPE html>
<html>
<head>
  <title>PayrollApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="header">
    <%= render 'layouts/header' %>
    </div>
      <div class="container">
      <% flash.each do |key, value| %>
        <br /><br />
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
          <div id="footer">

      </div></div>

</body>
</html>
